<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_RLsfhmcuFp8A7hEcoiJrhJdFeXJftds</string>
	<key>GCM_SENDER_ID</key>
	<string>703328381763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMedicine</string>
	<key>PROJECT_ID</key>
	<string>app-medicine-24</string>
	<key>STORAGE_BUCKET</key>
	<string>app-medicine-24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703328381763:ios:a96e9aa379f5bed86c5df6</string>
</dict>
</plist>